# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular used libraries for Data Science
* List of Data Science open sourse tools

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTourch
4. Keran

##### Table of Data Science Tools
|Data Science Tools|
|------------------|
|MySQL|
|Apache Cassandra|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Raghad Almuthaffar